body {
    font-family: Tahoma, sans-serif;
    text-align: center;
    background-color: #f1bd8d;
    background-image: url('image/cat.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

h1, h2, h3, h4, p {
    color: white;
 }

h1 {
    font-size: 35px; 
    font-weight: bold;
}
h2 {
    font-size: 32px; 
    font-weight: bold;
}
h3 {
    font-size: 18px; 
    font-weight: normal;
}
.underline {
    border-bottom: 1px solid #ffffff;
    width: 70%; 
    margin: 15px auto; 
}
h4 {
    font-size: 20px; 
    font-weight: bold;
}
h5 {
    font-size: 24px; 
    font-weight: normal;
}
footer {
    color: white; 
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: 12px;
    margin: 2px 0;
}

.poster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.poster-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.poster-item {
    flex: 0 0 48%;
    text-align: center;
}

.poster-item img {
    max-width: 100%;
    height: auto;
}

.poster-item p {
    margin-top: 10px;
    font-size: 14px;
}